# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Build
dist/

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*
.vercel
tsconfig.tsbuildinfo

/src/generated/prisma
